/filedossier-ddl/target/
/filedossier-api/target/
/filedossier-components/target/
/filedossier-ddl/nbproject/
/filedossier-store/target/
/filedossier-context/target/
/filedossier-scripting/target/
/filedossier-scripting/nbproject/
/filedossier-representation/nbproject/
/filedossier-representation/target/
/filedossier-mimetype/nbproject/
/filedossier-mimetype/target/
/filedossier-web/target/
/filedossier-components/nbproject/
/filedossier-test/target/
/filedossier-utils/target/
/filedossier-entities/target/
/filedossier-context/nbproject/
/filedossier-core/nbproject/
/filedossier-core/target/
/filedossier-ddl/target/
/filedossier-web/nbproject/
/filedossier-context-persistance/target/
/filedossier-context-persistence/target/
/filedossier-context-persistence/nbproject/