<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <resource-env-ref>
        <description>Сервисы workflow</description>
        <resource-env-ref-name>ru.bystrobank.apps.workflow.ws</resource-env-ref-name>
        <resource-env-ref-type>javax.jms.Queue</resource-env-ref-type>
    </resource-env-ref>

    <env-entry>
        <description>файл с сертификатом, который будем использовать для аутентификации в других ресурсах</description>
        <env-entry-name>ru.bystrobank.apps.workflow.certfile</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>/etc/ssl/private/php-application.pem</env-entry-value>
    </env-entry>
    <env-entry>
        <description>пароль от файла с сертификатом, который будем использовать для аутентификации в других ресурсах</description>
        <!-- у секретов обязательно должен быть суффикс _PASSWORD чтобы ловушка ошибок замазывала значения секретов в дампах -->
        <env-entry-name>ru.bystrobank.apps.workflow.cert_PASSWORD</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <!-- значение не указываем - получим его из окружения -->
    </env-entry>
</web-app>
