.bystro-scan {
  position: relative;
}

.bystro-scan > .bystro-scan-params,
.bystro-scan > :global(.button) {
  display: inline-block !important;
  vertical-align: middle !important;
}

.bystro-scan-params {
  padding: 0.5rem !important;
}

.bystro-scan-params :global(.radio) {
  margin-right: 0.5rem;
}

.bystro-scan-params :global(.input) {
  width: 2.5rem !important;
  margin: 0 0.5rem !important;
}

.bystro-scan-params :global(.input) input {
  padding: 0.2rem 0.5rem !important;
  text-align: center;
}

.bystro-scan-file-button {
  position: relative;
  overflow: hidden;
  width: 11rem !important;
  margin: 0 0.5rem !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bystro-scan-file-button input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
  padding: 0 !important;
}
