.file-content,
.dossier-img-container img,
.dossier-pdf-container canvas {
  box-shadow: 0 0 13px -5px #777 !important;
}

/*
.dossier-img-container,
.dossier-pdf-container {
  background-color: #3e3e3e;
}
*/

.dossier-pdf-container canvas {
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto;
}

.dossier-pdf-container > canvas:not(:first-child) {
  margin-top: 10px;
}

.dossier-img-container img {
  line-height: 1.5rem;
}

.file-controls {
  margin: 0 !important;
  border-radius: 0 !important;
  min-height: 2rem !important;
}

.file-controls .item {
  padding: 0.5rem 0.8rem !important;
}

.file-controls .item input {
  padding: 0.1rem 0.5rem !important;
}

.file-controls a.item.disabled {
  color: rgba(225, 225, 225, 0.3) !important;
}

.file-controls .page-count-label {
  white-space: nowrap;
  margin-left: 0.5rem;
}

.file-controls .file-name > span {
  white-space: nowrap;
  max-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-controls .scale-selection > .menu > .item:nth-child(3) {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.dossier-img,
.dossier-pdf {
  position: relative;
  width: 100%;
  height: 100%;
}

.dossier-img-container,
.dossier-pdf-container {
  position: relative;
  overflow: auto;
  width: 100%;
  height: calc(100% - 28px); /* file-controls height */
  cursor: grab;
  line-height: 0;
}

.mirror-horizontal {
  transform: scaleX(-1) !important;
  -webkit-transform: scaleX(-1) !important;
  -moz-transform: scaleX(-1) !important;
}

.dossier-img-rotate0 {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.dossier-img-rotate90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.dossier-img-rotate180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.dossier-img-rotate270 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}

.file-controls .item.no-padding {
  padding: 0 !important;
}

.dossier-info > .icon {
  margin: 0 !important;
}
